{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center bg-secondary py-2 text-white mt-5">اخبار ورزشی</h1>
    <section class="container">
        <div class="row my-5">
            <!-- SideBar -->
            <div class="col-sm-3">
                <div class="card">
                    <h4 class="text-center font-weight-bold">آخرین خبر ها</h4>
                    <hr>
                    {% for last_new in last_news %}
                        <a href="{{ last_new.get_absolute_url }}">
                            <p class="text-center">{{ last_new.title }}</p>
                        </a>
                    {% endfor %}
                </div>
                <br>
                <div class="card">
                    <h4 class="text-center font-weight-bold">دیگر بخش ها</h4>
                    <hr>
                    <a class="text-dark text-center my-2" href="{% url "products:product_list" %}">فروشگاه</a>
                    <a class="text-dark text-center my-2" href="{% url "articles:article_list" %}">مقالات</a>
                    <a class="text-dark text-center my-2" href="{% url "notifications:notification_list" %}">اعلانات</a>
                    <a class="text-dark text-center my-2" href="{% url "gallery:gallery_list" %}">گالری تصاویر</a>
                    {% if user.is_authenticated %}
                        <a class="text-dark text-center my-2" href="{% url "order:user_open_order" %}">سبد خرید</a>
                        <a class="text-dark text-center my-2" href="{% url "accounts:logout" %}">خروج</a>
                    {% else %}
                        <a href="/accounts/register" class="text-dark text-center my-2">ثبت نام</a>
                        <a href="/accounts/login" class="text-dark text-center my-2">ورود</a>
                    {% endif %}
                </div>
            </div>
            <!-- News -->
            <div class="col-sm-9">
                <div class="row">
                    {% for single_news in page_obj %}
                        <div class="col-sm-4 mt-3">
                            <div class="card news-header news-card">
                                <div class="card-body ">
                                    <a href="{{ single_news.get_absolute_url }}" class="text-success">
                                        <p class="">{{ single_news.title | truncatechars:35 }}</p>
                                    </a>
                                    <img src="{{ single_news.image.url }}" alt="" class="img-responsive img-fluid">
                                    <p>{{ single_news.created |date }}</p>
                                    <p>{{ single_news.description | truncatechars:100 }}</p>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="pagination row justify-content-center my-5">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a class="p-1 rounded neon-btn" href="?page=1">&laquo; first</a>
                            <a class="p-1 rounded neon-btn"
                               href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current text-warning">
                            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a class="neon-btn p-1 rounded" href="?page={{ page_obj.next_page_number }}">next</a>
                            <a class="p-1 rounded neon-btn"
                               href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}