<!-- footer -->

<footer class="footer" id="footer">
    <div class="container">
        <div class="div d-flex justify-content-around py-3">
            <a href=""> <span class="footer-icon" target="_blank"><i
                    class="fab fa-telegram"></i></span></a>
            <a href="" target="_blank"> <span
                    class="footer-icon"><i class="fab fa-instagram"></i></span></a>
            <a href="" target="_blank">
                <span class="footer-icon"><i class="fab fa-linkedin"></i></span></a>
        </div>
    </div>
</footer>