{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <div class="container  my-5">
        <h1 class="text-warning my-5 text-center">آیا رمز عبور خود را فراموش کرده اید؟</h1>
        <p class="text-warning text-center">آدرس ایمیل خود را وارد کنید تا رمز عبور جدید دریافت کنید</p>
        <div class="row justify-content-center text-center">
            <form method="post" class="" style="width: 500px">
                <p class="text-warning" for="id_email">ایمیل</p>
                <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required=""
                       id="id_email">
                <br><br>
                <input class="btn neon-btn" type="submit" value="Send e-mail">
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}