{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center bg-secondary py-2 text-white mt-5">اعلانات</h1>
    <section class="container">
        <div class="row my-5">
            {% for notification in notifications %}
                <div class="col-12 my-2">
                    <div class="card news-header">
                        <div class="card-body ">

                            <h5 class="">{{ notification.title }}</h5>

                            <p>{{ notification.description }}</p>
                            <p>{{ notification.created |date }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}